*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    color: #ededed;
}
.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(50px,auto);
    grid-auto-columns:minmax(50px,auto);
    width:100%;
    height:1420px;
    /* background-color: #052f5c; */
    background-image: linear-gradient(to right,red,rgb(40, 39, 39));
}
.box{
   /* background-color: #5aacc5; */
}
.box-1-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:3;
}
#d1{
    width:100%;
    height:50px;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
}
.boxa{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:15;
    margin-top:50px;
}
.box2{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:15;
}
.box4-container{
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:15;
}
.box5-container{
    display:grid;
    grid-template-columns:1fr;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:15;
    grid-row-end:16;
    margin-top:-70px;
}
#d5{
    font-size: 42px;
    margin-left:50px;
    color:white;
}
.box6-container{
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:16;
    grid-row-end:21;
    margin-top:-250px;
}
.box7{

    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:21;
    grid-row-end:22;
}
#d61{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:16;
    grid-row-end:21;
    width:200;height:200;
}
#d62{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:16;
    grid-row-end:21;
    width:200;height:200;
}
#d63{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:16;
    grid-row-end:21;
    width:200;height:200;
}
/* #d64{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:11;
    grid-row-end:18;
    width:200;height:200;
} */
/* #h3{
    display:inline-block; 
} */
 #b1{
    margin-top:15px;
    margin-left:20px;
    font-size:46px;
    /* color:rgb(86, 201, 223); */
    color:black;
    /* rgb(0, 195, 255); */
 }
 #b2{
    display:inline-block;
    font-size:46px;
    color:white;
 }

.navbar{
    display:inline-block;
    margin-left:140px;
}
.navbar div{
    /* list-style-type: none; */
    display:inline-block;
    text-decoration:none;
     margin-left:30px;
     color:white;
     padding:10px;
     margin-top:20px;
 }
 .navbar div:hover{
    color:black;
}
.navbar div ul{
    display:none;
    position:absolute;
    color:white;
    padding:10px;
    list-style:none;
    margin:0px;
    padding:0px;
    /* margin-left:70px; */
    font-size:34px;
}
.navbar div:hover ul{
    display:block;
}
.navbar div ul li{
    padding:10px;
    color:white;
}
.navbar div ul li a:hover{
    /* color:orange; */
    display: block;
 } 
#a4{
    text-decoration: none;
    color:white;
}
div a{
    text-decoration: none;
    color:white;
}
/* .home{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding:70px;
    background-position: center;
    background-size: cover;
    background: url(C:\Users\admin\Desktop\AAAAA\a2.jpg) no-repeat;
} */
 
.box2{
    padding-left:170px;
    /* margin-bottom: 50px; */
}
#h1{
    font-size: 50px;
}
#h2{
    font-size: 80px;
}
#h3{
    font-size: 40px;
}
#h4{
    font-size: 40px;
}

#h1:hover{
    color:black;
    transform: rotateX(180 deg);
    transition: 1s;
}
#h2:hover{
    color:gray;
    transform: rotateX(180 deg);
    transition: 1s;
}
#h3:hover{
    color:black;
    transform: rotateX(180 deg);
    transition: 1s;
}
#h4:hover{
    color:black;
    transform: rotateX(180 deg);
    transition: 1s;
}
.box4-container{
    width:380px;
    height:380px;
    background-image: url("/myimage/muskan-Photoroom.png");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 180px;
    border:20px solid white;
    margin-top:70px;
    margin-left:-760px;
}
#d61{
    /* width:500px;
    height:500px; */
    width:450px;
    height:350px;
    background-image: url("/myimage/a2.jpg");
    border-radius: 180px;
    margin-top:40px;
    margin-left:60px;
}
#d62{
    width:450px;
    height:350px;
    background-image: url("/myimage/a2.jpg");
    border-radius: 180px;
    margin-top:40px;
    margin-left:80px;
}
#d63{
    width:450px;
    height:350px;
    background-image: url("/myimage/a2.jpg");
    border-radius: 180px;
    margin-top:40px;
    margin-left:80px;
}
/* #d64{
    width:500px;
    height:500px;
    background-image: url("/myimage/a2.jpg");
    border-radius: 180px;
    margin-top:40px;
    margin-left:60px;
} */
#d61:hover{
        width:500px;
        height:500px;
        border:2px solid white;
        margin-left:120px;
        margin-top:-20px;
        /* margin-top:-120px; */
}
#d62:hover{
    width:500px;
    height:500px;
    border:2px solid white;
    margin-left:120px;
    margin-top:-20px;
    /* margin-top:-120px; */
}
#d63:hover{
    width:500px;
    height:500px;
    border:2px solid white;
    margin-left:120px;
    margin-top:-20px;
    /* margin-top:-120px; */
}
#a1{
    font-size: 32px;
    font-weight: 200;
}
#a1:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
#a2{
    text-decoration: none;
    color:white;
    font-size: 32px;
    font-weight: 200;
}
#a2 a:hover{
    background-color:white;
    border-radius:15px;
    color:red;
    width: 100px;
    height:100px;
}
#a3{
    font-size: 32px;
    font-weight: 200;
}
#a3:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
#a4{
    font-size: 32px;
    font-weight: 200;
}
#a4:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
