*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    color:black;
}
.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(50px,auto);
    grid-auto-columns:minmax(50px,auto);
    width:2050px;
    height:1153px;
    /* background-image: linear-gradient(to right,red,rgb(40, 39, 39)); */
    background-color: black;
}
.box{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
}
#d111{
    display: grid;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:2;
}
#d11{
    /* display: grid; */
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
}
.head{
    display:inline-block;
    color:white;
    font-size: 36px;
    margin-left:40px;
    margin-top:35px;
}
.navbar{
    color:white;
    font-size: 22px;
    display:inline-block;
    margin-left:250px;
}

.navbar div{
    /* list-style-type: none; */
    display:inline-block;
    text-decoration:none;
     margin-left:30px;
     color:white;
     padding:10px;
     margin-top:35px;
 }
 .navbar div:hover{
    color:black;
}
.navbar div ul{
    display:none;
    position:absolute;
    color:white;
    padding:20px;
    list-style:none;
    margin:0px;
    padding:0px;
    /* margin-left:70px; */
    font-size:34px;
}
.navbar div:hover ul{
    display:block;
}
.navbar div ul li{
    padding:20px;
    color:white;
}
.navbar div ul li a:hover{
    /* color:orange; */
    display: block;
 } 
 .boxa{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:8;
}
.box2{
   
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:8;
}
.box31-container{
    display: inline-block;
    width:220px;
    height:460px;
    border-radius:160px;
    background-color: white;
    margin-left:200px;
    margin-top:100px;
}
.d1{
    width:200px;
    height:200px;
    border-radius:160px;
    background-color: black;
     margin-left:10px;
   margin-top:12px;
}
.box32-container{
    display: inline-block;
    width:220px;
    height:460px;
    border-radius:160px;
    background-color: white;
    margin-left:200px;
    margin-top:100px;
}

.box33-container{
    display: inline-block;
    width:220px;
    height:460px;
    border-radius:160px;
    background-color: white;
    margin-left:200px;
    margin-top:100px;
}

.box34-container{
    display: inline-block;
    width:220px;
    height:460px;
    border-radius:160px;
    background-color: white;
    margin-left:200px;
    margin-top:100px;
}
