*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height:100vh;
    background-image: linear-gradient(to right,red,rgb(40, 39, 39));
}
.heading{
    margin-left:40px;
    margin-top:40px;
    font-size: 36px;
    font-weight: 400;
    color:rgba(200, 17, 17, 0.747);
}
.wrap {
    margin-top: 20px; /* Adjusted for better spacing */
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
.pbox {
    width: 700px;
    height: 70px;
    color: rgb(255, 0, 38);
    margin-left: 20px;
    border-radius: 5px;
    background: white;
    /* box-shadow: 0 0 10px 1px rgb(200, 129, 129); */
}
.outline {
    width: 90%; /* Full width */
    height: 34px;
    border-radius: 30px;
    border:0px;
    background: white;
    padding: 0.8px;
    box-shadow: inset 4px 4px 6px;
    margin-left: 20px;
}
.inline {
    height: 100%; /* Full height */
    background-color: rgb(255, 0, 38); /* Progress color */
    border-radius: 30px; /* Rounded corners */
}
.title{
    margin-top:8px;
    color:red;
    margin-left:10px;
}
.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(50px,auto);
    grid-auto-columns:minmax(50px,auto);
    width:100%;
    height:1100px;
    /* background-color: #052f5c; */
    background-image: linear-gradient(to right,red,rgb(40, 39, 39));
}
.box1{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:3;
}
.navbar{
    display:inline-block;
    margin-left:140px;
}
.navbar div{
    /* list-style-type: none; */
    display:inline-block;
    text-decoration:none;
     margin-left:30px;
     color:white;
     padding:10px;
     margin-top:20px;
 }
 .navbar div:hover{
    color:black;
}
.navbar div ul{
    display:none;
    position:absolute;
    color:white;
    padding:10px;
    list-style:none;
    margin:0px;
    padding:0px;
    /* margin-left:70px; */
    font-size:34px;
}
.navbar div:hover ul{
    display:block;
}
.navbar div ul li{
    padding:10px;
    color:white;
}
.navbar div ul li a:hover{
    /* color:orange; */
    display: block;
 } 
 #a1{
    font-size: 32px;
    font-weight: 200;
}
#a1:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
#a2{
    text-decoration: none;
    color:white;
    font-size: 32px;
    font-weight: 200;
}
#a2:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
#a3{
    font-size: 32px;
    font-weight: 200;
}
#a3:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
#a4{
    font-size: 32px;
    font-weight: 200;
}
#a4:hover{
    background-color:white;
    border-radius:15px;
    color:red;
}
.box2{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:3;
    grid-row-end:11;
    width:900px;
    height:600px;
}
.box-container{
    display:grid;
    grid-template-columns:1fr ;
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:10;
    /* width:2000px;
    height:800px; */
}
.box3{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:11;
    width:750px;
    height:600px;
    background-color: white;
    border-radius: 20px;
    margin-left:-20px;
}